div.card {
  display: table;
  position: relative;
  text-align: left;
  border: 1px solid  #aeb6bf ;
  box-shadow: #aeb6bf 5px 2px 5px;
  width: 400px;
  padding: 12px;
  border-radius: 10px;
  margin: 12px;
}

div.picture{
  display: table-cell;
  vertical-align: top;
}

img{
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

div.informations{
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-left: 12px;
}

div.informations b{
  display: block;
  text-transform: uppercase;
  font-size: 20px;
}

