<div class="card clearfix">
  <div class="picture">
      <img src="{{hero.img}}"/>
  </div>
  <div class="informations">
      <b>{{ hero.surname }}</b>
      <i>{{ hero.name }}</i>
      <p>This is a {{hero.role}} of The Avengers !</p>
  </div>
</div>
