/* You can add global styles to this file, and also import other style files */
html{
  font-family: 'Roboto Condensed', sans-serif;
}

.clearfix {
  overflow: auto;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}


